*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root{
	--bg-color: #eeefff;
	--text-color: #111110;
	--color-white: #eeefff;
	--color-dark: #111110;
	--bg-color-secondary: #dddeee;
	--bg-color-primary: #222221;
	--color-primary: #1826b8;
	--color-secondary: #25BDD6;
	--header-height: 4.5rem;
	--max-width: 1200px;
}
body{
    font-family: "Poppins", sans-serif;
	background-color: var(--bg-color);
	color: var(--color-dark);
    transition: background-color 0.5s, color 0.3s;
}
body.dark{
	background-color: var(--color-dark);
	color: var(--bg-color);
}
.navigator{
	box-shadow: rgba(27, 31, 35, 0.10) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
.dark .navigator{
	box-shadow: rgba(238, 239, 255, 0.10) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
.container{
	max-width: var(--max-width);
	margin-left: auto;
	margin-right: auto;
}
.content-nav{
	width: 100%;
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.name-logo{
	padding: .5rem;
	background-color: var(--color-dark);
	color: var(--bg-color);
	font-size: 1.5rem;
	border-radius: 10px;
	display: inline;
}
.dark .name-logo{
	background-color: var(--bg-color);
	color: var(--color-dark);
}
.links-option {
	display: flex;
	gap: 1rem;
}
.links-option a {
	color: var(--color-dark);
	font-size: 1.05rem;
	transition: all 0.5s ease-in-out;
	position: relative;
}
.links-option a:hover {
	color: var(--color-secondary);
}
.dark .links-option a {
	color: var(--color-white);
}
.menu-hamburguesa{
	display: none;
	cursor: pointer;
}
.none{
	display: none;
}
.dark .links-option a:hover{
	color: var(--color-secondary);
	transition: all 0.5s ease-in-out;
	text-decoration: none;
}
.d-none{
	display: none;
}
.dark-mode{
	cursor: pointer;
}

/********************** SECCION HOME***************************/
.home{
	margin-top: 2rem;
}
.image-perfil{
	margin: 1rem 0;
	display: flex;
	justify-content: center;
}
.image-perfil img{
	width: 250px;
	height: 250px;
	object-fit: cover;
    border-radius: 50%;
	border: 2px solid var(--color-secondary);
}
.name{
	font-weight: 500;
	font-size: 2rem;
}
.name span {
    position: relative;
    display: inline-block;
}

.name span::before {
    content: "";
    color: var(--color-secondary);
    font-weight: 600;
    animation: words 20s infinite;
}

.name span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    border-left: 2px solid var(--color-secondary);
    right: -1px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

.dark .name span::after{
    background-color: var(--color-dark);
}
@keyframes cursor {
    0%, 100% {
        border-left: 2px solid var(--color-secondary);
    }
}

@keyframes words {
    0%, 50% {
        content: "Víctor Manuel";
    }
    51%, 100% {
        content: "Víctor Manuel";
    }
}
@keyframes typing {
	10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
		width: 0;
	}
	5%,20%,25%,40%,45%,60%,65%,80%,85%{
		width: calc(100% + 1px);
	}
}
.text{
	color: var(--color-dark);
	line-height: 1.8rem;
}
.about-info span{
	color: var(--color-secondary);
}
.links{
	display: flex;
	gap: 1.5rem;
	margin: 2rem 0;
}
.links a{
	text-decoration: none;
}
.contact,
.curriculum,
#formulario button[type="submit"]{
	padding: .5rem 2rem;
	border-radius: 5px;
	position: relative;
}
.contact{
	border: 1px solid var(--color-primary);
	color: var(--color-primary); 
}
.curriculum{
	border: 1px solid var(--color-secondary);
	color: var(--color-secondary);
}
.contact:hover,
.curriculum:hover,
#formulario button[type="submit"]:hover{
    color: #ffffff;
    transform: scale(1);
	text-decoration: none;
}
.contact::before {
    background-color: var(--color-primary);
}
.curriculum::before,
#formulario button[type="submit"]::before{
	background-color: var(--color-secondary);
}
.contact::before,
.curriculum::before,
#formulario button[type="submit"]::before {
	content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: width 500ms;
}
.contact:hover::before,
.curriculum:hover::before,
#formulario button[type="submit"]:hover::before {
    width: 100%;
}

/********************************************************/
/*********************SECCION ABOUT**************************/
#about{
	margin: 2rem 0;
}
.about-img{
	display: flex;
	justify-content: center;
	margin: 2rem 0;
}

/********************************************************/
/*********************SECCION TECHNOLOGIES**************************/
#technologies{
	margin: 2rem 0;
}
.card-techno{
	width: 125px;
    height: 100px;
	background-color: var(--bg-color-secondary);
    border: 2px solid;
    border-radius: 10px; 
    animation: glow 5s ease-in-out infinite;
}
.dark .card-techno{
	background-color: var(--bg-color-primary);
}
.dark .card-content p{
	color: var(--bg-color);
}
.technologies{
	display: flex;
	gap: 1rem;
	justify-content: center;
	flex-wrap: wrap;
}
.card-content{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.card-techno img,
.card-techno svg{
	width: 40px;
	height: 40px;
}
.dark .card-techno .git{
	fill: var(--bg-color);
}
@keyframes glow {
    0%, 100% {
        border-color: rgba(255, 255, 255, 0);
    }
    50% {
        border-color: var(--color-secondary); 
    }
}
/********************************************************/
#formulario{
    padding: 2rem;
    border-radius: 5px;
    width: 1000px;
    height: 450px;
	margin-left: auto;
	margin-right: auto;
}
.input-container {
    position: relative;
    margin: 30px auto;
    width: 100%;
}
  
.input-container input[type="text"],
.input-container textarea {
    font-size: 1rem;
    width: 100%;
    border: none;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    padding: 8px 10px;
    color: var(--text-color);
    background-color: transparent;
    outline: none;
}
.dark .input-container input[type="text"],
.dark .input-container textarea {
	border: 2px solid var(--bg-color);
	color: var(--bg-color);
}
.input-container input[type="text"]:focus,
.input-container textarea:focus{
    border: none;
}
.input-container .label {
    position: absolute;
    top: 6px;
    left: 10px;
    color: var(--color-dark);
    padding: 2px 5px;
    transition: all 0.3s ease;
    pointer-events: none;
}
.dark .input-container .label{
	color: var(--bg-color);
}
.input-container input[type="text"]:focus,
.input-container textarea:focus,
.input-container input[type="text"]:valid,
.input-container textarea:valid {
    border-color: transparent;
}
.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label,
.input-container textarea:focus ~ .label,
.input-container textarea:valid ~ .label {
    top: -20px;
    font-size: .8rem;
    color: var(--bg-color);
    background-color: var(--color-secondary);
    border-radius: 2px;
}
textarea{
    resize: none;
    width: 100%;
    height: 150px;
    font-family: "Poppins", sans-serif;
}
.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--color-secondary);
    transform: scaleX(0);
    transition: all 0.3s ease;
}
  
.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline,
.input-container textarea:focus ~ .underline,
.input-container textarea:valid ~ .underline {
    transform: scaleX(1);
}
  

#formulario button[type="submit"]{
    width: 100%;
    padding: .5rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
	background-color: transparent;
	color: var(--color-secondary);
    cursor: pointer;
	border: 2px solid var(--color-secondary);
    transition: all 0.5s ease-in-out;
}
/******************************************/
/******************************************/
.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem 0;
}
.card-project{
	width: 25vw;
	height: 280px;
}
.projects img{
    width: 100%;
	height: 80%;
}
.project-content{
	display: flex;
	justify-content: space-between;
}
.project-content svg{
	transition: all 0.5s ease-in-out;
	color: var(--color-dark);
}
.dark .project-content svg{
	color: var(--bg-color);
}
.project-content svg:hover{
	color: var(--color-secondary);
}
/******************************************/
/******************************************/
.footer{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 2rem 0;
}

.footer::before{
    content: "";
    height: 1px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--color-dark);
    opacity: .2;
}
.dark .footer::before{
	background-color: var(--bg-color);
}
.footer .social-media{
	display: flex;
	gap: 2rem;
}
.social-media svg{
	color: var(--color-dark);
	transition: all 0.5s ease-in-out;
}
.dark .social-media svg{
	color: var(--bg-color);
}
.social-media svg:hover{
	color: var(--color-secondary);
}
.footer-copyright{
	margin: 1rem 0;
}
.footer-copyright a{
    color: var(--color-secondary);
    text-decoration: none;
}

/********************RESPONSIVE*****************************/
@media screen and (max-width: 1200px){
	.container{
		max-width: 1000px;
	}
}
@media screen and (max-width: 1050px){
	.container{
		max-width: 850px;
	}
	.navigator{
		padding: 0 1rem;
	}
	#formulario{
		width: 800px;
		padding: 1rem;
	}
	.project{
		padding: 0 2rem;
	}
	.projects{
		grid-template-columns: repeat(2, 1fr);
	}
	.card-project{
		width: 100%;
		height: 280px;
	}
	.card-project img{
		border-radius: 5px;
	}
}
@media screen and (max-width: 790px){
	.nav-menu{
		display: none;
	}
	.menu-hamburguesa{
		display: block;
	}
	.container {
		max-width: 600px;
	}
	#formulario{
		width: 600px;
	}
	.links-respons {
		z-index: 999;
		display: block;
		position: fixed;
		top: 40px;
		background-color: var(--bg-color);
		color: var(--color-dark);
		left: 0;
		padding: 4rem;
		height: 100vh;
		width: 100vw;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.5s ease-in-out;
	}
	.dark .links-respons {
		background-color: var(--color-dark);
		color: var(--bg-color);
	}
	.links-option {
		flex-direction: column;
		align-items: center;
	}
	  .is-active {
		pointer-events: auto;
		opacity: 1;
	}
}
@media screen and (max-width: 642px){
	.container {
		max-width: 500px;
	}
	#formulario{
		width: 400px;
	}
	.projects{
		grid-template-columns: repeat(1, 1fr);
	}
	.card-project{
		width: 65%;
		height: 220px;
		margin-left: auto;
		margin-right: auto;
	}
	.card-project img{
		border-radius: 5px;
	}
}

@media screen and (max-width: 435px){
	.navigator{
		padding: 0 .5rem;
	}
	.container {
		max-width: 300px;
	}
	.name{
		font-size: 1.5rem;
		text-align: center;
	}
	.home-text p{
		font-size: .9rem;
		text-align: center;
	}
	.content-home{
		display: flex;
		flex-direction: column;
		padding: 0 1rem;
	}
	.about{
		padding: 0 1rem;
	}
	.about-info p{
		text-align: justify;
		font-size: .9rem;
	}
	.image-perfil img{
		width: 180px;
		height: 180px;
	}
	#formulario{
		width: 280px;
	}
	.card-project{
		width: 90%;
		height: 200px;
		margin-left: auto;
		margin-right: auto;
	}
	.card-project img{
		border-radius: 5px;
	}
	.links{
		flex-direction: column;
		justify-content: center;
	}
	.links a{
		text-align: center;
	}
	.social-media svg{
		width: 30px;
	}
	.footer-copyright p{
		font-size: .9rem;
	}
}
